.container {
  padding: 0 0rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colume1 {
  width: 200px;
  height: 100vh;
}
.colume2 {
  flex-grow: 1;
  height: 100vh;
}
.colume3 {
  width: 300px;
  height: 100vh;
}
